# NEXUS - Firebase Configuration
# Copy this file to .env and fill in your Firebase project credentials

VITE_FIREBASE_API_KEY=AIzaSyBrJJXg28ItO7cyk3I1QRUGUUHg4Zyf6pA
VITE_FIREBASE_AUTH_DOMAIN=nexus-8b95d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nexus-8b95d
VITE_FIREBASE_STORAGE_BUCKET=nexus-8b95d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=229006339250
VITE_FIREBASE_APP_ID=1:229006339250:web:3ef84e9495d450b9bbedab
